* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 8px 0 14px 0;
  background: #212731;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}

.header li {
  margin: 0 32px;
  cursor: pointer;
}

.searchInput {
  width: 260px;
  padding: 8px;
  font-size: 16px;
  background: #fff;
  border-radius: 10px;
  outline: none;
  border: none;
  text-indent: 28px;
}

.searchBtn {
  background: transparent;
  border: none;
  position: relative;
  left: -256px;
  top: 9px;
  color: #282c33;
  cursor: pointer;
}

.searchIcon {
  font-size: 28px;
}

/* -----------------Homepage-----------------  */
.homepage {
  padding: 16px 230px;
}

.titleSection h1 {
  padding: 20px 0 10px 0;
  font-size: 40px;
  font-weight: 600;
  color: #2c384a;
}

.titleSection hr {
  border: 1px solid rgb(231, 230, 230);
}
.subtitle {
  display: flex;
  list-style: none;
  gap: 20px;
}

.subtitle li {
  padding: 8px 0px;
  color: #4b5665;
  font-size: 14px;
  cursor: pointer;
}

.checkIcon,
.infoIcon {
  font-size: 18px;
  position: relative;
  top: 3px;
  color: #626e79;
}

.quickLinks {
  display: flex;
  list-style: none;
  gap: 80px;
  padding: 22px 14px;
}

.quickLinks li {
  padding: 0px;
  font-size: 14px;
  color: #4b5665;
  cursor: pointer;
}

/* ------------------------Breadcrumbs---------------- */

/* ---------------------Footer---------------------  */
.footer {
  background-color: #212731;
  color: #fff;
  height: 400px;
  display: flex;
  justify-content: center;
}

.container1,
.container2 {
  display: flex;
  padding: 50px 20px;
}

.categories,
.contact {
  list-style: none;
  align-items: start;
  font-size: 14px;
  font-weight: 100;
  line-height: 35px;
  margin: 5px 70px;
}

.categories h4,
.contact h4 {
  font-weight: 600;
}

.country {
  margin: 5px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55%;
}

.dropdownbtn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.dropdownIcon {
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 2px;
  margin-left: 6px;
}
